@use 'theme' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 90px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: $textColorTitle;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 60px;
    }
}

.text--hero {
    font-size: 40px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;

    @media (max-width: 768px) {
        font-size: 17px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 30px;
    }
}

.text--trailer {
    font-size: 50px;
    text-align: center;
    color: $textColorSecundary;
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;

    @media (max-width: 768px) {
        font-size: 26px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 50px;
    }
}

.text--sinopse {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    color: $textColorSecundary;
    font-family: "Reddit Mono", monospace;
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 20px;
        max-width: 355px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 30px;
        max-width: 700px;
    }
}

.text--equipe {
    color:$textColorPrincipal;
    font-size: 32px;
    font-weight: 400;
    padding: 30px 0 15px 0;

    &::before {
        content: "| ";
        font-size: 40px;
        color: rgb(113, 69, 16);
    }
}

h4 {
    padding: 15px 0 0 0;
    color: rgb(103, 94, 94);
    font-weight: 400;
}

.text--como_assistir {
    color: $textColorPrincipal ;
    font-size: 32px;
    font-weight: 400;
    padding: 30px 0 50px 0;
}

h3 {
    color: $textColorPrincipal;
    font-weight: 300;
    font-size: 35px;

    @media (max-width: 768px) {
        font-size: 19px;
    }
}